.popup__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0;
  font-family: inherit;
  font-size: 14px;
  line-height: 2.6;
  color: #000;
  position: relative;

  margin-top: 17px;
}

.popup__input:first-child {
  margin-top: 40px;
}

@media screen and (max-width: 950px) {
  .popup__input {
    margin-top: 20px;
  }

  .popup__input:first-child {
    margin-top: 65px;
  }
}
