.popup__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0;
  font-family: inherit;
  font-size: 14px;
  line-height: 2.6;
  color: #000;
  position: relative;
}
