.profile__subtitle {
  margin: 16px 0 0;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 950px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    margin-top: 5px;
  }
}
