.popup__submit-button {
  width: 100%;
  min-height: 50px;
  margin-top: 48px;
  background: #000;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;

  transition: 0.5s ease-out;
}

@media screen and (max-width: 950px) {
  .popup__submit-button {
    font-size: 14px;
    margin-top: 40px;
  }
}
