.profile {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 40px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 950px) {
  .profile {
    flex-direction: column;
  }
}
