.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  column-gap: 17px;
  row-gap: 20px;
  justify-content: center;

  padding-top: 51px;
  padding-bottom: 67px;
}

@media screen and (max-width: 950px) {
  .elements {
    padding-top: 36px;
    padding-bottom: 48px;
  }
}
