.form__submit {  
  border: 0;

  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  padding: 14px 0;

  margin: 0 auto;

  background-color: #000000;
  color: #FFFFFF;
}


