.form__toggle {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -38px;
    right: -38px;
    cursor: pointer;
}

@media screen and (max-width: 425px){
    .form__toggle {
        top: -48px;
        right: -0px;
    }
}