.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  border: none;
  background-image: url(../../../images/close_icon.svg);
  background-size: contain;
  background-color: transparent;
  outline: none;
}

@media screen and (max-width: 950px) {
  .popup__close-button {
    right: 0;
    width: 20px;
    height: 20px;
  }
}
