.profile__info {
    margin-left: 30px;
    margin-right: 250px;

    max-width: 340px;
}

@media screen and (max-width: 425px){
    .profile__info {
        margin: 0;
        margin-top: 26px;
    }
}