.element__button {
    background-image: url(../../../images/heart.svg);
    
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;

    width: 22px;
    height: 19px;
}

.element__button:hover {
    opacity: 0.5;
    transition: 0.7s;
    cursor: pointer;
}
